:root {
    --background-color: #111111;
    --medium-color: #222222;
    --font-color: #ffffff;
    --line-color: #282828;

    --legend-border-color: #222222;

    --sidebar-color: #222222;
    --line-width: 3px;
    --calc-subline-width: calc(var(--line-width) / 2);
}

@font-face {
    font-family: titi;
    src: url(../import/fonts/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../import/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: philosopher;
    src: url(../import/fonts/Philosopher-Bold.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
}

.main {
    background-color: var(--background-color);
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    background-color: var(--sidebar-color);
    width: 75px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-right: 3px solid var(--line-color);
}

.position {
    height: calc(60vh - 40px);
    width: 25px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: capitalize;
    font-size: 25px;
    font-family: monospace;
    color: var(--font-color);
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1;
}

.social-media {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-media a img {
    display: flex;
    width: 40%;
    margin-bottom: 30px;
}

.content > div {
    padding: 0 100px 0 175px;
}

.presentation {
    display: flex;
    height: 100vh;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
}

.information {
    display: flex;
    margin-left: 20px;
    width: calc(50vw - 20px);
    flex-direction: column;
    color: var(--font-color);
}
.title {
    font-size: 5vw;
    text-align: center;
    margin: 50px;
    font-family: 'titi';
}
.text {
    font-size: 2vw;
    text-align: justify;
    font-family: 'roboto';
    background-color: var(--medium-color);
    height: 80%;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
}




div.timeline {
    padding-left: 100px;
    margin: 0 0 30px 75px;
    background: linear-gradient(to right,
                transparent calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% + var(--calc-subline-width)),
                transparent calc(50% + var(--calc-subline-width))
    );
    color: var(--font-color);
    background-color: var(--medium-color);
}

.timeline > div {
    padding: 10px;
}
.timeline > div:nth-child(odd) {
    margin-right: 50%;
    text-align: right;
}
.timeline > div:nth-child(odd)::before {
    margin-right: -14.7px;
}
.timeline > div:nth-child(even) {
    margin-left: 50%;
}
.timeline > div:nth-child(even)::before {
    margin-left: -15px;
}

.date-left {
    margin-right: -15px;
    font-family: 'titi';
    font-size: 1rem;
}
.date-left::after {
    content: "    ●";
}
.date-right {
    margin-left: -15px;
    font-family: 'titi';
    font-size: 1rem;
}
.date-right::before {
    content: "●    ";
}

.project {
    background-color: var(--background-color);
    border: var(--line-width) solid var(--medium-color);
    border-radius: 5px;
}

.project:hover {
    cursor: pointer;
    --legend-border-color: var(--line-color);
    border: var(--line-width) solid var(--line-color);
}

.left {
    margin-inline-start: 30px;
}
.right {
    margin-inline-end: 30px;
}
/* .left {
    margin-inline-start: 30px;
    width: calc(45% - 30px);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
}
.right {
    margin-inline-end: 30px;
    width: calc(45% - 30px);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
} */
.project-title {
    padding: 0 3px;
    display: block;
    width: max-content;
    font-family: 'philosopher';
    font-size: 1.2rem;
    padding: 5px;
    border: var(--line-width) solid var(--legend-border-color);
    border-radius: 10px;
    background-color: var(--background-color);
}
.project-description {
    padding: 10px;
    margin-bottom: 10px;
    display: none;
    font-family: 'roboto';
    font-size: 1rem;
    text-align: justify;
}
.project-description a {
  text-decoration: none;
}
.project-description a:hover {
  text-decoration: underline;
}
.project-description a img {
    width: 20px;
    margin-top: 40px;
}

footer {
    color: var(--font-color);
    font-size: 1rem;
    text-align: center;
    padding: 30px;
    font-family: monospace;
    letter-spacing: -1px;
}