:root {
    --background-color: #111111;
    --medium-color: #222222;
    --font-color: #ffffff;
    --line-color: #282828;
    --light-gray: #ccc;

    --legend-border-color: #222222;

    --sidebar-color: #222222;
    /* --background-color: #ffffff;
    --medium-color: #484848;
    --font-color: #111111;
    --line-color: #282828;
    --legend-border-color: #222222;
    --sidebar-color: #222222; */
    --line-width: 3px;
    --calc-subline-width: calc(var(--line-width) / 2);
    --element-height: 0;
}

@font-face {
    font-family: titi;
    src: url(../import/fonts/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../import/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: philosopher;
    src: url(../import/fonts/Philosopher-Bold.ttf);
}

@keyframes fadein {
    0%   {color: white;}
    50%  {color: var(--sidebar-color);}
    100% {color: white;}
}

@keyframes showProject {
    from {
        height: 0;
    }
    to {

    }
}

* {
    margin: 0 auto;
    padding: 0;
}


.main {
    background-color: var(--background-color);
    align-items: center;
}


.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    background-color: var(--sidebar-color);
    width: 75px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-right: 3px solid var(--line-color);
}
.position {
    height: calc(60vh - 40px);
    width: 25px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: capitalize;
    font-size: 25px;
    font-family: monospace;
    color: white;
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1;
    /* transition: color 0.4s ease; */
    animation: fadein 0.3s;
}
.social-media {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.social-media a img {
    display: flex;
    width: 40%;
    margin-bottom: 30px;
}


.content > div {
    padding: 0 100px 0 175px;
}


.presentation {
    display: flex;
    height: 100vh;
    align-items: center;
}
.image {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
}
.information {
    display: flex;
    margin-left: 20px;
    width: calc(50vw - 20px);
    flex-direction: column;
    color: var(--font-color);
}
.title {
    font-size: 50px;
    text-align: center;
    margin: 50px;
    font-family: 'titi';
}
.text {
    font-size: 20px;
    text-align: justify;
    font-family: 'roboto';
    background-color: var(--background-color);
    height: 125px;
    width: 390px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.blocks {
    position: relative;
    width: 410px;
    height: 145px;
    top: 0;
}
.blocks:before, .blocks:after {
    position: absolute;
    z-index: 0;
    content: "";
    display: inline-block;
    height: 50px;
    width: 120px;
    background-color: var(--medium-color);
    border-radius: 5px;
}
.blocks:before {
    top: -20px;
    left: -15px;
}
.blocks:after {
    bottom: -20px;
    right: -20px;
    width: 250px;
}
/* .block-before {
    content: "";
    display: inline-block;
    height: 80px;
    width: 120px;
    margin-top: 14%;
    margin-left: 0%;
    background-color: red;
    z-index: 0;
    position: absolute;
}

.block-after {
    content: "";
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-top: 30%;
    margin-left: 34%;
    background-color: red;
    z-index: 0;
    position: absolute;
}   */

div.skills {
    background-color: var(--medium-color);
    margin: 100px 0;
    padding-bottom: 40px;
}
.skill-group {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.skill-group > span {
    margin: 0 30px 30px;
    color: var(--font-color);
    font-family: 'titi';
    font-size: 35px;
}
.skill-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.skill {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 30px;
    display: inline-flex;
}
.skill > img {
    width: 100px;
    height: auto;
    -webkit-filter: drop-shadow(0px 7px 0px #000000) brightness(1.5);
    filter: drop-shadow(0px 7px 0px #000000) brightness(1.5);
}


div.timeline {
    padding-left: 100px;
    margin: 0 0 30px 75px;
    background: linear-gradient(to right,
                transparent calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% + var(--calc-subline-width)),
                transparent calc(50% + var(--calc-subline-width))
    );
    color: var(--font-color);
    background-color: var(--background-color);
}
.timeline > div {
    padding: 10px;
}
.timeline > div:nth-child(odd) {
    margin-right: 50%;
    text-align: right;
}
.timeline > div:nth-child(odd)::before {
    margin-right: -14.7px;
}
.timeline > div:nth-child(even) {
    margin-left: 50%;
}
.timeline > div:nth-child(even)::before {
    margin-left: -15px;
}
.project.showed {
    margin-bottom: var(--element-height);
    max-height: 600px;
}

.date-left {
    margin-right: -15px;
    font-family: 'titi';
    font-size: 1rem;
}
.date-left::after {
    content: "    ●";
}
.date-right {
    margin-left: -15px;
    font-family: 'titi';
    font-size: 1rem;
}
.date-right::before {
    content: "●    ";
}

.project {
    background-color: var(--medium-color);
    border: var(--line-width) solid var(--medium-color);
    border-radius: 5px;
    transition: max-height 0.4s;
    max-height: 0;
    overflow: hidden;
}
.project:hover {
    cursor: pointer;
    border: var(--line-width) solid var(--line-color);
}

.left {
    margin-inline-start: 0px;
}
.right {
    margin-inline-end: 0px;
}
/* .left {
    margin-inline-start: 30px;
    width: calc(45% - 30px);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
}
.right {
    margin-inline-end: 30px;
    width: calc(45% - 30px);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
} */
.project-title {
    padding: 0 3px;
    display: block;
    width: max-content;
    font-family: 'philosopher';
    font-size: 1.2rem;
    padding: 5px 10px;
    /* border: var(--line-width) solid var(--legend-border-color); */
    border-radius: 10px;
    box-shadow: var(--background-color) 5px 5px 0 0, var(--background-color) -5px 5px 0 0;
    background-color: var(--legend-border-color);
}
.project-description {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'roboto';
    font-size: 1rem;
    text-align: justify;
}
/* .project-description a {
  text-decoration: none;
}
.project-description a:hover {
  text-decoration: underline;
} */
.project-description a {
    text-decoration: none;
}
.project-description a img {
    width: 20px;
    margin-top: 40px;
}

a {
    color: var(--light-gray);
}
a:hover {
    font-weight: bold;
}

footer {
    color: var(--font-color);
    font-size: 1rem;
    text-align: center;
    padding: 30px;
    font-family: monospace;
    letter-spacing: -1px;
}

@media screen and (max-width:1180px) {
    .presentation {
        flex-direction: column;
        justify-content: center;
    }
    .information {
        width: 100%;
    }
}