:root {
    --background-color: #111111;
    --sidebar-color: #222222;
    --font-color: #ffffff;

    --line-color: #000000;
    --line-width: 3px;
    --calc-subline-width: calc(var(--line-width) / 2);
}

* {
    margin: 0 auto;
    padding: 0;
}

.main {
    background-color: var(--background-color);
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    background-color: var(--sidebar-color);
    width: 7.5vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.position {
    height: calc(50vh - 40px);
    width: 2.5vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2.5vw;
    color: var(--font-color);
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-media {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-media > img {
    width: 40%;
    margin-bottom: 40px;
}

.main-page {
    margin-left: 7.5vw;
    display: flex;
    width: 91vw;
    height: 100vh;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    margin-left: 2.5vw;
}

.information {
    display: flex;
    flex-direction: column;
    width: 50vw;
    color: white;
}
.title {
    font-size: 5vw;
    text-align: center;
    margin: 50px;
}
.text {
    font-size: 2vw;
    text-align: justify;
    background-color: var(--sidebar-color);
    margin: 10%;
    height: 80%;
    width: calc(80% - 15px);
    padding: 10px;
    border-radius: 5px;
}




.timeline {
    height: 100vh;
    width: calc(91vw - 2px);
    margin-left: 7.5vw;
    border: 1px solid red;
    background: linear-gradient(to right,
                transparent calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% - var(--calc-subline-width)),
                var(--line-color)     calc(50% + var(--calc-subline-width)),
                transparent calc(50% + var(--calc-subline-width))
    );
    color: white;
}

.timeline > div {
    padding: 10px;
}
.timeline > div::before {
    content: "â—";
    height: 0;
    display: block;
}
.timeline > div:nth-child(odd) {
    margin-right: 50%;
    text-align: right;
}
.timeline > div:nth-child(odd)::before {
    margin-right: -14.7px;
}
.timeline > div:nth-child(even) {
    margin-left: 50%;
}
.timeline > div:nth-child(even)::before {
    margin-left: -15px;
}